# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
rdkit_env/

# VS Code
.vscode/

# Generated outputs
outputs/

# Trained models
models/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
